

.leftimg, .midimg, .rightimg{
    border-bottom: 1px solid #4c5c96;
    border-top: 1px solid #4c5c96;
}

.leftimg{
    border-left: 1px solid #4c5c96;
}

.rightimg{
    border-right: 1px solid #4c5c96;
}

@media screen and (max-width: 840px){
    .leftimg, .midimg, .rightimg{
        border: 3px solid #4c5c96;
       
    }
}